#public net.minecraft.client.data.models.BlockModelGenerators.BlockFamilyProvider
public net.minecraft.data.models.BlockModelGenerators *()
public net.minecraft.data.models.BlockModelGenerators$BlockFamilyProvider
public net.minecraft.data.models.BlockModelGenerators$BlockFamilyProvider *()

public net.minecraft.client.OptionInstance$SliderableValueSet
public net.minecraft.client.OptionInstance$ValueSet

public net.minecraft.world.level.block.CampfireBlock spawnParticles
public net.minecraft.world.level.block.CampfireBlock fireDamage

public net.minecraft.world.level.block.RedstoneTorchBlock RECENT_TOGGLES
public net.minecraft.world.level.block.RedstoneTorchBlock isToggledTooFrequently(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Z)Z
public net.minecraft.world.level.block.RedstoneTorchBlock$Toggle when

public net.minecraft.core.cauldron.CauldronInteractions newDispatcher(Ljava/lang/String;)Lnet/minecraft/core/cauldron/CauldronInteraction$Dispatcher;
public net.minecraft.core.cauldron.CauldronInteractions addDefaultInteractions(Lnet/minecraft/core/cauldron/CauldronInteraction$Dispatcher;)V
public net.minecraft.core.cauldron.CauldronInteractions fillBucket(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/InteractionHand;Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/item/ItemStack;Ljava/util/function/Predicate;Lnet/minecraft/sounds/SoundEvent;)Lnet/minecraft/world/InteractionResult;
public net.minecraft.core.cauldron.CauldronInteractions emptyBucket(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/InteractionHand;Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/sounds/SoundEvent;)Lnet/minecraft/world/InteractionResult;
public net.minecraft.core.cauldron.CauldronInteraction$Dispatcher *()